<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>成功</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base th:href="@{/}">

    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{css/loginfailstyle.css}"/>

    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/script.js}"></script>
</head>
<body>

<br><br><br><br>
<div class="container text-center">
    <hr>
    <h1 class="bg-warning text-danger padding20">成功，请<a href="javascript:history.back();">返回</a></h1>
    <hr>
</div>

</body>
</html>
