<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<!--    导航栏-->
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0"
    th:fragment="topbar">
        <span class="navbar-brand col-md-9 mr-0">旅游日记共享平台</span>
        <span class="navbar-brand col-md-2 mr-0">欢迎   [[${session.admin}]]</span>
        <a class="navbar-brand col-md-1 mr-0"  th:href="@{/admin/logout}">退出</a>
    </nav>
    <nav class="col-md-2 d-none d-md-block bg-light sidebar"
        th:fragment="sidebar">
        <div class="sidebar-sticky">

            <ul class="nav flex-column">
                <li class="nav-item">
                    <a th:class="${active}=='main.html'?'nav-link active':'nav-link'"
                        th:href="@{/admin/index}">首页</a>
                </li>
                <li class="nav-item">
                    <a th:class="${active}=='admin/users.html'?'nav-link active':'nav-link'"
                       th:href="@{/admin/users}">用户管理</a>
                </li>
                <li class="nav-item">
                    <a th:class="${active}=='admin/log.html'?'nav-link active':'nav-link'"
                       th:href="@{/admin/log}">日志管理</a>
                </li>
                <li class="nav-item">
                    <a th:class="${active}=='admin/activity.html'?'nav-link active':'nav-link'"
                       th:href="@{/admin/activity}">活动管理</a>
                </li>
            </ul>
        </div>
    </nav>

</body>
</html>